@charset "utf-8";

.base{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.base-head, .base-foot{
    text-align: center;
}
.base-title{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.base-body{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.base-container{
    padding-right: 1rem;
    padding-left: 1rem;
}

.base-btn{
    text-decoration: none;
    text-transform: uppercase;
    border: solid 2px #cf7688;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 5px;
    color: #cf7688;
    transition-duration: .3s;
}

.base-btn:hover{
    background-color: #f6cdd5;
}


/* --------------------servicio------------------- */
.service-items{
    display: flex;
    flex-wrap:wrap ;
}

.service-item{
    width: 33.33333%;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    padding: 1.5rem 2rem;
    margin-right: -1px;
    margin-bottom: -1px;
    color:rgba(0,0,0,.7) ;
}

.service-title{
    font-size: 1.25rem;
    text-align: center;
}

.service-desc{
    font-size: .95rem;
    line-height: 1.5;
    text-align: left;
}

.service-icon{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.service-icon .fa-solid{
    color:#cf7688 ;
}


/* -------proyecto---------- */
.base-project{
    background-image: linear-gradient(#6f6f6f 0, #fff 50%);
}

.proyecto-items{
    display: flex;
    flex-wrap: wrap;
}

.proyecto-item{
    width: 20%;
    text-align: center;
    margin-bottom: 1rem;
}

.proyecto-img{
    max-width: 100%;
    height: auto;
}


/* ---------intro-------- */
.base-intro{
    background-image: url(../images/intro-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    clip-path: polygon(0 0,100% 10%, 100% 80%,0 100%);
}

.base-intro::before{
    content: "";
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.base-intro .base-container{
    position: relative;
    z-index: 1;
    /* 因為偽元素蓋住了文字且無法選取 這邊將文字往上提 */
}

.intro-desc{
    color:#fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.7;
}

.base-intro .base-head, .base-intro .base-foot{
    text-align: left;
}

.base-intro .base-title{
    letter-spacing: 0;
}

.base-title-small, .base-title-primary{
    display: block;
}

.base-title-small{
    color: #ddd;
    font-size: 2.5rem;
}

.base-intro .base-title-primary{
    color: #fff;
    font-size: 3.5rem;
}

.base-intro .base-btn{
    border-color: #fff;
    color: #fff;
}

.base-intro .base-btn:hover{
    background-color: rgba(0,0,0,.5);
}

/*-------------- build------------------ */
.base-build .base-body{
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.build-ol{
    color: rgba(255,255,255,.9);
}

.build-li{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    position: relative;
}

.build-li + .build-li{
    margin-top: 2rem;
}

.build-title{
    font-size: 1.2rem;
    font-weight: 600;
}

.build-desc{
    line-height: 1.5;
    margin-top: 1rem;
}
.build-content{
    position: relative;
    z-index: 1;
}

.build-li::before, .build-li::after{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: skew(-15deg);
    border-radius: 5px;
}

.build-li::before{
    left: -40px;
}

.build-li::after{
    right: -40px;
}

.build-li-1,
.build-li-1::before,
.build-li-1::after{
    background-color: #f5ba54;
}

.build-li-2,
.build-li-2::before,
.build-li-2::after{
    background-color: #eaa666;
}

.build-li-3,
.build-li-3::before,
.build-li-3::after{
    background-color: #cf7688;
}


/* -------------animation----------------- */

.ani-fadeIn-leftToRight, .ani-move-downToUp{
    animation-fill-mode: forwards;
}

.ani-move-downToUp{
    animation-name: moveDownToUp;
    animation-duration: 1s;
    transform: translateY(120%);

}

.ani-fadeIn-leftToRight{
    transform: translateX(-100%);
    animation-name: fadeInLeftToRight;
    animation-duration: 1s;
    opacity: 0;
}

@keyframes fadeInLeftToRight{
    to{
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes moveDownToUp{

    to{
        transform: translateY(0);
    }
}

.ani-delay-1{
    animation-delay: .3s;
}

.ani-delay-2{
    animation-delay: .6s;
}

.ani-delay-3{
    animation-delay: .9s;
}

.ani-delay-4{
    animation-delay: 1s;
}

.ani-delay-5{
    animation-delay: 1.2s;
}

.ani-delay-6{
    animation-delay: 1.4s;
}

.ani-delay-7{
    animation-delay: 1.5s;
}

/* -----------rwd---------------- */

@media screen and (max-width:480px){


    /* service */
    .service-items{
        flex-direction: column;
    }

    .service-item{
        width: auto;
    }

    /* proyectos */

    .proyecto-item{
        width: 33.3333%;
    }

    /* intro */

    .base-intro{
        clip-path:polygon(0 0,100% 5%, 100% 95%, 0 100%)
    }

    .base-intro .base-head, .base-intro .base-btns{
        text-align: center;
    }

    /* build */
    .base-build .base-body{
        max-width: 55vw;
    }

}


